<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324311223019-or7vlaedq1il83ng6qkvikku9q1al0d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324311223019-or7vlaedq1il83ng6qkvikku9q1al0d3</string>
	<key>API_KEY</key>
	<string>AIzaSyBEVC53-XPGhkydPm0A348aX4yqAD8UCbk</string>
	<key>GCM_SENDER_ID</key>
	<string>324311223019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newapp</string>
	<key>PROJECT_ID</key>
	<string>iti-summer-training-5fb06</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-summer-training-5fb06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324311223019:ios:e388ce8c44a08135014cae</string>
</dict>
</plist>